img {
  display: inline-block;
}

.dduser {
  margin-right: 50px;
  margin-left: 20px;
}

nav {
  margin-bottom: 0.8%;
}

.navbar-brand {
  margin-left: 80px;
}

.btn-group btn {
  margin-right: 20px;
}
