<app-header [autenticato]="autenticato"
            [image]="img"
            (auth_out)='receiveAuth($event)'
            (auth_in)='receiveAuth_($event)'
></app-header>
<app-jumbotron [titolo]="titolo"
               [sottotitolo]="sottotitolo"
               [autenticato]="autenticato"
></app-jumbotron>
<app-login (auth_out)='receiveAuth($event)'
           (auth_in)='receiveAuth_($event)'
           (user_data)='receiveUser($event)'
           (user_img)='receiveImg($event)'
           *ngIf="autenticazione"
></app-login>
<!--router-outlet></--router-outlet-->
