<app-header [autenticato]="autenticato"
            [utenteforum]="utenteforum"
            (auth_out)='receiveAuth($event)'
            (auth_in)='receiveAuth_($event)'
></app-header>
<app-jumbotron [titolo]="titolo"
               [sottotitolo]="sottotitolo"
               [autenticato]="autenticato"
></app-jumbotron>
<app-login (auth_out)='receiveAuth($event)'
           (auth_in)='receiveAuth_($event)'
           (user_data)='receiveUser($event)'
           *ngIf="autenticazione"
></app-login>
<!--router-outlet></--router-outlet-->
<app-left-nav></app-left-nav>
<app-main-page></app-main-page>
<app-right-nav></app-right-nav>
