<div class="selectors">
  <p>Select index: </p>
  <p *ngFor="let sym of symbol; let i = index"
     [attr.data-index]="i" (click)="searchNews(i)"
     [ngClass]=" selected === sym ? 'index-selected' : 'index-selectable'">
    {{sym}}
  </p>
</div>
<div class="news-section">
  <div class="news-box"
       *ngFor="let news of stockNews">
    <h1>{{news.title}}</h1>
    <p>Author {{news.authors}}</p>
    <a href="{{news.url}}" target="_blank">Open original article</a>
    <p>{{news.summary}}</p>
  </div>
</div>
