.selectable-index {
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

.selectors {
  display: flex;
}

.news-box {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 10px;
}

h1 {
  font-size: 14px;
}
