
  <div class="thread-box">
    <div class="thread-sub1">
      <img src="./assets/images/arrow-up.png"
           class="reaction-icon"
           (click)=reactionControl(true)>
      <p class="reaction-p">{{thread.like-thread.dislike}}</p>
      <img src="./assets/images/arrow-down.png"
           class="reaction-icon"
           (click)=reactionControl(false)>
      <img class="down-arrow">
    </div>

    <div class="thread-sub2">
      <p class="author"><i>Author <b>{{thread.autore}}</b></i></p>
      <h1 (click)=expand()
      >{{thread.title}}</h1>
      <p class="thread-text"
         *ngIf="thread.expandthread"
      >{{thread.testo}}</p>

      <div class="thread-sub3">
        <div class="comment"
             *ngIf="thread.expandthread"
             (click)=expand_comments()
        ><img src="./assets/images/chat.png"
                 class="comment-icon"
        ><p>12</p>
        </div>

        <div class="answer">
          <img src="./assets/images/reply.png"
               class="comment-icon"
               *ngIf="thread.expandthread && control.autenticato"
          ></div>
      </div>

    </div>
  </div>

  <div class="comment-box" *ngIf="thread.opencomments">
    <div class="comment-sub1">
      <img src="./assets/images/arrow-up.png" class="reaction-icon">
      <p class="reaction-p">{{thread.like-thread.dislike}}</p>
      <img src="./assets/images/arrow-down.png" class="reaction-icon">
      <img class="down-arrow">
    </div>

    <div class="comment-sub2">
      <p class="author"><i>Author <b>{{thread.autore}}</b></i></p>
      <p class="comment-text"
      >{{thread.testo}}</p>
    </div>

    <div class="comment-sub3">
      <div class="comment">
        <img src="./assets/images/chat.png"
             class="comment-icon"
        ><p>12</p>
      </div>
      <div class="answer">
        <img src="./assets/images/reply.png"
             class="comment-icon"
             *ngIf="thread.expandthread && control.autenticato"
        ></div>
    </div>
  </div>
