.thread-box {
  background: lightsteelblue;
  padding: 5px;
  border: 1px solid darkslategray;
  border-radius: 5px;
  margin: 5px;
  color: darkslategray;
}

.creato {
  font-size: 6px;
}

.thread-bar {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  vertical-align: baseline;
}

.icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.thread-author {
  font-size: 12px;
}

.thread-sub2 h1 {
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
}

.thread-sub2 p {
  text-align: left;
}

.comment {
  display: flex;
}

.comment p {
  margin-left: 3px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.comment-box {
  background: lightgrey;
  padding: 5px;
  border: 1px solid darkslategray;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  color: darkslategray;
}

.newTD {
  background-color: darkolivegreen;
  border: 1px solid darkslategray;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-template-rows: 1fr 8fr;
  padding: 5px;
  margin: 5px;
}

.part1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.part2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
  text-align: center;
}
.part3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.author-popup {
  z-index: 10;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  background-color: indianred;
  display: flex;
}

.author-info {
  display: grid;
}
