  <div class="thread-box" *ngFor="let thread of threads; let i = index" [attr.data-index]="i">
    <div class="thread-sub1">
      <img src="./assets/images/arrow-up.png"
           class="reaction-icon"
           (click)=reactionControlUp(i)>
      <p class="reaction-p">{{thread.like-thread.dislike}}</p>
      <img src="./assets/images/arrow-down.png"
           class="reaction-icon"
           (click)=reactionControlDown(i)>
      <img class="down-arrow">
    </div>

    <div class="thread-sub2">
      <p class="author"><i>Author <b>{{thread.autore}}</b></i></p>
      <h1 (click)=expand(i)
      >{{thread.titolo}}</h1>
      <p class="thread-text"
         *ngIf="thread.expand"
      >{{thread.testo}}</p>

      <!--(click)=expand_comments()-->
      <div class="thread-sub3">
        <div class="comment"
             *ngIf="thread.expand"
        ><img src="./assets/images/chat.png"
                 class="comment-icon"
        ><p>12</p>
        </div>

        <div class="answer">
          <img src="./assets/images/reply.png"
               class="comment-icon"
               *ngIf="thread.expand && control.autenticato"
          ></div>
      </div>

    </div>
  </div>

  <!--div class="comment-box" *ngIf="threads[thread]">
    <div class="comment-sub1">
      <img src="./assets/images/arrow-up.png" class="reaction-icon">
      <p class="reaction-p">{{threads[thread].like-threads[thread].dislike}}</p>
      <img src="./assets/images/arrow-down.png" class="reaction-icon">
      <img class="down-arrow">
    </div>

    <div class="comment-sub2">
      <p class="author"><i>Author <b>{{threads[thread].autore}}</b></i></p>
      <p class="comment-text"
      >{{threads[thread].testo}}</p>
    </div>

    <div class="comment-sub3">
      <div class="comment">
        <img src="./assets/images/chat.png"
             class="comment-icon"
        ><p>12</p>
      </div>
      <div class="answer">
        <img src="./assets/images/reply.png"
             class="comment-icon"
             *ngIf="threads[thread].expand && control.autenticato"
        ></div>
    </div>
  </div-->
