  <div *ngFor="let thread of threads; let i = index" [attr.data-index]="i">
    <div class="thread-box" *ngIf="thread.view">
      <div class="thread-sub1">
        <img src="./assets/images/arrow-up.png"
             class="reaction-icon"
             (click)=reactionControl(i,true,true)>
        <p class="reaction-p">{{thread.like-thread.dislike}}</p>
        <img src="./assets/images/arrow-down.png"
             class="reaction-icon"
             (click)=reactionControl(i,true,false)>
        <img class="down-arrow">
      </div>

      <div class="thread-sub2">
        <p class="author"><i>Author <b>{{thread.autore}}</b></i></p>
        <h1 (click)=expand_thread(i)
        >{{thread.titolo}}</h1>
        <p class="thread-text"
           *ngIf="thread.expand"
        >{{thread.testo}}</p>

        <div class="thread-sub3">
          <div class="comment"
               (click)=expand_comments(i,true)
               *ngIf="thread.expand"
          ><img src="./assets/images/chat.png"
                class="comment-icon"
          ><p>{{thread.commcounter}}</p>
          </div>

          <div class="answer"
               *ngIf="thread.expand && control.autenticato"
               (click)="answer_form(i)"
          ><img src="./assets/images/reply.png"
                 class="comment-icon">
            <textarea *ngIf="thread.answer">

            </textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let comment of comments; let i = index" [attr.data-index]="i">
    <div class="comment-box"
         [ngStyle]="{'margin-left': comment.level*10+'px'}"
         *ngIf="comment.view">
      <div class="thread-sub1">
        <img src="./assets/images/arrow-up.png"
             class="reaction-icon"
             (click)=reactionControl(i,false,true)>
        <p class="reaction-p">{{comment.like-comment.dislike}}</p>
        <img src="./assets/images/arrow-down.png"
             class="reaction-icon"
             (click)=reactionControl(i,false,false)>
        <img class="down-arrow">
      </div>

      <div class="thread-sub2">
        <p class="author"><i>Author <b>{{comment.autore}} level {{comment.level}}</b></i></p>
        <p class="thread-text"
        >{{comment.testo}}</p>
      </div>

      <div class="thread-sub3">
        <div class="comment"
             (click)=expand_comments(i,false)
        ><img src="./assets/images/chat.png"
              class="comment-icon"
        ><p>{{comment.commcounter}}</p>
        </div>

        <div class="answer">
          <img src="./assets/images/reply.png"
               class="comment-icon"
               *ngIf="control.autenticato"
          ></div>
      </div>
    </div>
  </div>
