.thread-box {
  background: lightsteelblue;
  padding: 5px;
  border: 1px solid darkslategray;
  border-radius: 5px;
  margin: 5px;
  display: grid;
  grid-template-columns: 40px 8fr;
  color: darkslategray;
}

.thread-sub1 {
  align-content: center;
  grid-column-start: 1;
  grid-column-end: 2;
  border: 1px solid black;
}

.reaction-icon {
  height: 20px;
  width: 30px;
  cursor: pointer;
}

.reaction p {

}

.thread-sub2 {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
}

.thread-author {
  font-size: 12px;
}

.thread-sub2 h1 {
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
}

.thread-sub2 p {
  text-align: left;
}

.thread-sub3 {
  display: block;
}

.comment-icon {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.comment {
  display: flex;
}

.comment p {
  margin-left: 3px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.comment-box {
  background: lightgrey;
  padding: 5px;
  border: 1px solid darkslategray;
  border-radius: 5px;
  margin: 5px;
  display: grid;
  grid-template-columns: 40px 8fr 1fr;
  color: darkslategray;
}
